body{
  background-color: black;
}
#header {
  margin-top: 30px;
  margin-bottom: 20px;
}

img {
  width: 80%;
  border-radius: 6px;
  margin-left: 10%;
}
h3{
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  color: aliceblue;
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;color: #fff;

}

.koleom{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #474444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul li{
  font-size: 1.2rem;
  color: #fff;
}
#col2 {
  color: white;
}

#title {
  font-size: 4.2em;
}

h4 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 650;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: underline;
}
.arman {
  margin: 3%;
  background-color: #a6a4a4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quotes {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(114, 85, 228)
}

#footer {
  font-size: 1.3em;
  background-color: black;
  color: rgb(88, 229, 0);
  text-align: center;
  border-radius: 6px;
  padding: 10px;
}

p {
  text-align: center;
  color: aqua;
  font-size: 1.2rem;

}